---
layout: default
permalink: /home.html
title: 文档首页
---

{% for docst in site.docsType %}
    <div class="container">
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="well">
                    <div class="page-header">
                        <h3 class="text-center">{{docst.text}}</h3>
            </div>
                {% for elements in site.[docst.type] %}
                    {% if elements.enter == true %}
                    <div class="row-fluid ">
                    {% endif %}
                    {% if docst.grid == 3 %}
                    <div class="span4">
                    {% else %}
                    <div class="span3">
                    {% endif %}
                        <a href="{{elements.url}}"><h4>{{elements.text}}</h4></a>
                        {% if elements.des %}
                            <p class="muted">{{elements.des}}</p>
                        {% else %}
                            {% for post in site.posts %}
                                {% if post.type == docst.type %}
                                    {% if post.element == elements.element %}
                                        <li>
                                            <a href="{{post.url}}">{{post.title}}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if elements.fenter == false %}
                    </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
    </div>
    </div>
{% endfor %}
