<footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="submit">
                        <p class="text-center"><a href="http://www.egret-labs.org">Copyright © 2014 Egret-labs.org.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="{{site.baseurl}}/js/jquery.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" charset="utf-8" src="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/js/page_context.js"></script>