
<style type="text/css">


</style>
<div class="navbar navbar-fixed-top navbar-inverse">
        <div style="background-image: linear-gradient(to bottom, #008cee, #008cee);border-color: #FCFCFC;" class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav" style="margin:10px 10px 10px 10px">
                        <li><a href="http://edn.egret.com"><img src="/img/logo.png" alt="logo" /></a></li>
                        {% for link in site.nav %}
                        {% assign active = nil %}
                        {% assign homeClass = nil %}
                        {% if page.url == link.url%}
                        <li class="active">
                            <a style="color: #FCFCFC; background-color: #08B7F7;  margin-top: 8px" href="{{site.baseurl}}{{ link.url }}">{{link.text}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a style="color: #FCFCFC;  margin-top: 8px" href="{{site.baseurl}}{{ link.url }}">{{link.text}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        <!--
                                <li class="active"><a href="{{site.url}}/index.html">文档首页</a>
                                </li>
                                <li class=""><a href="{{site.url}}/api/api.html">API文档</a>
                                </li>
                                <li class=""><a href="#contact">Flash移植教程</a>
                                </li>
                                <li class=""><a href="{{site.url}}/as2ts/index.html">代码迁移范例</a>
                                </li>
        -->
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>

    </div>
<br /><br />